.itineraryPage{

    width:100%;
    min-height:100vh;

    padding:50px 10px ;
   display: flex;
   flex-direction: column;
   
    gap:20px;
}

.itineraryMain{

    display:grid;

    grid-template-columns:2.2fr .9fr;

    gap:28px;

    align-items:start;
    width: 95%;
    margin: 0 auto ;
   
}

.itineraryLeft{

    display:flex;
    flex-direction:column;

    gap:25px;
   
}



@media(max-width:1100px){

.itineraryMain{

grid-template-columns:1fr;
gap: 0;

}



}

@media (max-with:900px) {
    .itineraryPage{
        padding: 40px 10px;
    }
}
@media (max-with:576px) {
    .itineraryPage{padding: 10px 10px;}
.itineraryMain{
    width: 100%;
}
} 




/* =========================
   ITINERARY LOADER
========================= */

.itineraryLoader {
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.loadingDots {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  height: 30px;
}

.loadingDots span {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #5b67ff;

  animation: dotJump 1.2s infinite ease-in-out;
}

/* First dot */
.loadingDots span:nth-child(1) {
  animation-delay: 0s;
}

/* Second dot */
.loadingDots span:nth-child(2) {
  animation-delay: 0.15s;
}

/* Third dot */
.loadingDots span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes dotJump {
  0%,
  60%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }

  30% {
    transform: translateY(-12px);
    opacity: 1;
  }
}

.itineraryLoader p {
  margin-top: 18px;

  font-size: 16px;
  font-weight: 500;

  color: #a8b4c8;
}
